:root{
  font-size:20px;
  --hola:white;
}
*{
  list-style:none;
  text-decoration:none;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  color:black;
  font-family: 'Montserrat Alternates', sans-serif;
}
body{
  background-color:rgb(237,237,239);
  overflow:hidden;
  height:100vh;
  width:100vw;
}
.body-content{
  width:85%;
  height:100%;
  margin:0 auto;
}
@media screen and (max-width:767px){
  :root{
    font-size:16px;
  }
  .body-content{
    width:80%;
    
  }

}